<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>footer</title>
</head>
<body>
<div class="container-fluid pt-4 px-4" th:fragment="footer">
    <div class="bg-light rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                <a href="#">© Copyright@2022 Sunglowsys Technologies Pvt. Ltd. </a>,
                All Right Reserved.
            </div>

        </div>
    </div>
</div>
</body>
</html>