<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:href="@{img/user.jpg}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link th:href="@{fonts/font.css}" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{css/all.min.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap-icons.css}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{css/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!--sidebar -->
    <div class="sidebar pe-4 pb-3">
        <nav th:replace="sidebar::sidebar"></nav>

    </div>

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="navbar::navbar"></nav>
        <!-- Navbar End -->
        <div class="container entity-header">
            <div class="row">
                <div class="col-md-10">
                    <span class="entity-header-text">Rate Calendar</span>
                </div>
                <div class="col-md-2">
                    <a th:href="@{/rate-calendar-create}" class="btn btn-sm btn-primary ">
                        <i class="fa fa-plus-square" aria-hidden="true"></i> Create</a>
                </div>
            </div>
        </div>


        <div class="col-12">
            <div>
                <div>
                    <table class="table" style="background-color: #F5FFFA">
                        <thead>
                        <tr>
                            <th scope="col">SingleOccupancy</th>
                            <th scope="col">DoubleOccupancy</th>
                            <th scope="col">ExtraAdultPrice</th>
                            <th scope="col">ExtraChildPrice</th>
                            <th scope="col">ApplicableDate</th>
                            <th scope="col">ApplicableDays</th>
                            <th scope="col">Hotel</th>
                            <th scope="col">RatePlan</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="obj:${rateCalendars}">
                            <td th:text="${obj.singleOccupancy}"></td>
                            <td th:text="${obj.doubleOccupancy}"></td>
                            <td th:text="${obj.extraAdultPrice}"></td>
                            <td th:text="${obj.extraChildPrice}"></td>
                            <td th:text="${obj.applicableDate}"></td>
                            <td th:text="${obj.applicableDays}"></td>
                            <td th:text="${obj.hotel.name}"></td>
                            <td th:text="${obj.ratePlan.name}"></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


    <!-- Widgets End -->

    <!-- Footer End -->
    <!--        <div class="content">-->
    <!--            <footer th:replace="footer::footer"></footer>-->
    <!--        </div>-->

    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/chart/chart.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>